# Entorno Virtual
venv/
env/
.venv/
ENV/

# Variables de entorno y secretos (NUNCA subir a GitHub)
.env
.env.local
.env.*.local

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Configuraciones de VS Code y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Bases de datos locales o temporales

# Registros y Logs
*.log